
<form>
<input type="hidden" name="sort_by" value="<%= params[:sort_by] %>">
<input type="hidden" name="order" value="<%= params[:order] %>">
</form>
<table>
  <thead>
    <tr>
      <th data-field="sales">Sales</th>
      <th data-field="name">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.sales %></td>
        <td><%= customer.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
